// -
// Decent
// https://github.com/decent-css/decent
// ----------------------------------------------------------------------------

@import '../util/index';

.container {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
}

[class^='col-'],
[class*='col-'] {
  width: 100%;

  // If we're clearfix-ing, it's because we intend to use float columns.
  .clearfix & { float: left; }
}

@for $i from 1 through $columns {
  .col-#{$i} { width: ($i/$columns * 100%); }
  .push-#{$i} { margin-left: ($i/$columns * 100%); }
}

@each $abbr, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @for $i from 1 through $columns {
      .#{$abbr}-col-#{$i} { width: ($i/$columns * 100%); }
      .#{$abbr}-push-#{$i} { margin-left: ($i/$columns * 100%); }
    }
  }
}
