@mixin print-styles($declaration, $value) {
  @if type-of($declaration) == 'list' {
    @each $dec in $declaration {
      #{$dec}: $value;
    }
  }
  @else {
    #{$declaration}: $value
  }
}

@mixin parse-class-map($classes, $bp: null) {
  @each $class, $settings in $classes {
    $classname: '';

    @if $bp {
      $classname: #{$bp}-#{$class};
    }
    @else {
      $classname: $class;
    }

    @if type-of(nth($settings, 2)) == 'map' {
      @each $key, $value in nth($settings, 2) {
        @if $key != 'default' {
          .#{$classname}-#{$key} {
            @include print-styles(nth($settings, 1), $value)
          }
        }
        @else {
          .#{$classname} {
             @include print-styles(nth($settings, 1), $value)
          }
        }
      }
    }
    @else {
      .#{$classname} {
        @include print-styles(nth($settings, 1), nth($settings, 2))
      }
    }
  }
}

@mixin build-classes($classes, $breakpoints: null) {
  @include parse-class-map($classes);

  @if $breakpoints {
    @for $i from 1 to length($breakpoints)+1 {
      $key: nth(map-keys($breakpoints), $i);

      @media (min-width: map-get($breakpoints, $key)) {
        @include parse-class-map($classes, $key);
      }
    }
  }
}

@mixin build-colors($colorset, $name) {
  @each $shade in $colorset {
    $i: index($colorset, $shade)-1;

    @if $i == 0 {
      .c-#{$name} { color: $shade; }
      .cbg-#{$name} { background-color: $shade; }
    }
    @if $i == 1 {
      .c-#{$name}-alt { color: $shade; }
      .cbg-#{$name}-alt { background-color: $shade; }
    }
    @else {
      .c-#{$name}-alt-#{$i)} { color: $shade; }
      .cbg-#{$name}-alt-#{$i)} { background-color: $shade; }
    }
  }
}

@mixin interaction($interaction, $contexts, $state) {
  &[class*='#{$interaction}'] {
    @each $context, $styles in $contexts {
      @if $context == 'settings' {
        @include print-styles($styles);
      }

      @if $context == 'start' {
        &[class*='target'],
        [class*='#{$interaction}-target'] {
          @include print-styles($styles);
          transition: $default-transition;
        }
      }

      @if $context == 'end' {
        &[class*='target']:#{$state},
        &:hover [class*='#{$interaction}-target'] {
          @include print-styles($styles);
        }
      }
    }
  }
}

@mixin typeset($sets) {

  @each $set, $settings in $sets {

    @if $set == 'default' {
      body,
      input,
      textarea,
      button {
        @each $setting, $value in $settings {
          #{$setting}: $value;
        }
      }

      ol,
      li,
      blockquote { line-height: map-get($settings, 'line-height') }
    }
    @elseif $set == 'monospace' {
      pre,
      code {
        @each $setting, $value in $settings {
          #{$setting}: $value;
        }
      }
    }
    @else {
      .#{$set} {
        @each $setting, $value in $settings {
          #{$setting}: $value;
        }
      }
    }
  }
}

@mixin font-scale($ratio) {
  // Calculate the font sizes by scale.
  @for $i from -3 to 14 {
    $value: $ratio;

    @if $i == 0 {
      .t-#{$i} { font-size: 1rem; }

      @each $abbr, $breakpoint in $breakpoints {
        .#{$abbr}-t-#{$i} {
          @media (min-width: $breakpoint) { font-size: 1rem; }
        }
      }
    }

    @if $i < 0 {
      @for $n from -1 to -1*($i) {
        $value: $value/$ratio;
      }

      $rem-value: $value + rem;

      .tn-#{$i*-1} { font-size: $rem-value; }

      @each $abbr, $breakpoint in $breakpoints {
        .#{$abbr}-tn-#{$i*-1} {
          @media (min-width: $breakpoint) { font-size: $rem-value; }
        }
      }
    }

    @if $i > 0 {
      @for $n from 1 to $i {
        $value: $value * $ratio;
      }

      $rem-value: $value + rem;

      .t-#{$i} { font-size: $rem-value; }

      @each $abbr, $breakpoint in $breakpoints {
        .#{$abbr}-t-#{$i} {
          @media (min-width: $breakpoint) { font-size: $rem-value; }
        }
      }
    }
  }
}
