// -
// Decent
// https://github.com/decent-css/decent
// ----------------------------------------------------------------------------

@import '../../util/index';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@each $overlay, $bg in $overlays {
  @if $overlay == 'default' {
    .overlay {
      background: $bg;
    }
  }
  @else {
    .overlay-#{$overlay} {
      background: $bg;
    }
  }
}
