// -
// Decent
// https://github.com/decent-css/decent
// ----------------------------------------------------------------------------

@import '../../util/index';

@include build-classes(
  (
    'b': (border, $default-border-width solid $default-border-color),
    'bt': (border-top, $default-border-width solid $default-border-color),
    'br': (border-right, $default-border-width solid $default-border-color),
    'bb': (border-bottom, $default-border-width solid $default-border-color),
    'bl': (border-left, $default-border-width solid $default-border-color),
    'bw': (border-width, $border-widths),
    'radius': (border-radius, $border-radii),
    'shadow': (box-shadow, $shadows)
  )
);

@mixin build-borders($set, $name: '') {

  @each $key, $value in $set {

    $border-value: $default-border-width solid $value;

    @if $name != '' {
      @if $key != 'default' {
        $key: $name + '-' + $key;
      }
      @else {
        $key: $name;
      }
    }

    .b-#{$key} { border: $border-value; }
    .bl-#{$key} { border: $border-value; }
    .br-#{$key} { border: $border-value; }
    .bb-#{$key} { border: $border-value; }
    .bt-#{$key} { border: $border-value; }

  }
}

@include build-borders($greyscale);

@each $name, $colorset in $colorsets {
  @include build-borders($colorset, $name);
}
